<%= stylesheet_link_tag 'shopping_carts' %>

<div class="row">
  <div class="col-sm-8">
    <h1>My Shopping cart</h1>
  </div>

  <% if @cart.purchases.exists? %>
    <div class="col-sm-3">
      <%= button_to 'Create order', orders_path,  :class => 'btn-success btn-lg' %>
    </div>
  <% end %>
</div>


<% if @cart.purchases.exists? %>
  <table class="table">
    <tr>
      <td>Name</td>
      <td>Price</td>
      <td>Amount</td>
      <td>Delete</td>
    </tr>

    <% @cart.purchases.each do |purchase| %>
          <tr>
            <td> <%= purchase.product.name %> </td>
            <td> <%= purchase.product.price %> </td>
            <td> <%= purchase.amount %> </td>
            <td>
              <%= button_to "X", {:controller => :shopping_carts,
                                  :action => :delete_item,
                                  :id => purchase.id}, class: 'btn-danger'%>
            </td>
          </tr>
    <% end %>
  </table>

<% else %>
    <div class="alert alert-warning">
      <strong> Your Shopping cart is empty!</strong>
    </div>
<% end %>