<%= stylesheet_link_tag 'orders' %>

<h1>Orders</h1>
<% if @orders.empty? %>
    <div class="alert alert-warning">
      <strong> You have no orders</strong>
    </div>

<% else %>
    <table class="table">
      <tr>
        <td>Order</td>
        <td>Date</td>
        <td>Purchases</td>
        <td>Total cost</td>
      </tr>

    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to "Order #{order.id}", "orders/#{order.id}" %></td>
        <td><ul>
          <% order.purchases.each do |purchase| %>
              <li><%= link_to purchase.product.name, purchase.product %> (<%= purchase.amount %>)</li>
          <% end %>
        </ul></td>
        <td>
          <%= order.created_at %>
        </td>
        <td><%= order.total_cost %></td>
      </tr>
    <% end %>
    </table>
<% end %>