<h1>Order <%= @order.id %></h1>

<div class="well">
<p>Date: <%= @order.created_at %></p>
Purchases
<ul>
  <% @order.purchases.each do |purchase| %>
      <li><%= link_to purchase.product.name, purchase.product %> (<%= purchase.amount %>)</li>
  <% end %>
</ul>
<div>Total cost: <%= @order.total_cost %></div>
</div>
