<h1><%= @product.name %></h1>
<%= image_tag(@product.image_url) %>
<div>
  Amount: <%= @product.amount %>
</div>

<div>
  Price: <%= @product.price %>
</div>

<%= button_to('Add to cart', action: :add_to_cart) %>