<h1><%= @product.name %></h1>
<h2><%= @product.description %></h2>

<div></div>
<%= image_tag(@product.image_url) %>
<div>
  Amount: <%= @product.amount %>
</div>

<div>
  Price: <%= @product.price %>
</div>

<% if @product.amount > 0 %>
    <%= form_tag({:controller => :shopping_carts, :action => :add_item, :id => product.id}, :method => :post) do %>
        <%= hidden_field_tag(:id, @product.id)%>
        <%= submit_tag("Add to cart") %>
    <% end %>
<% end %>

<% if flash[:buy_success] %>
    <div class="alert alert-success"><%= flash[:buy_success] %></div>
<% elsif flash[:buy_danger] %>
    <div class="alert alert-danger"><%= flash[:buy_danger] %></div>
<% end %>