<!DOCTYPE html>
<html>
<head>
  <title>Market</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Market</a>
        </div>
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
              <li><%= link_to 'My Orders', orders_path%></li>
              <li><%= link_to 'My Cart', cart_path%></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete%></li>
          <% else %>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>

  </header>

  <%= yield %>
</body>
</html>
